a {
  color: rgba(0, 122, 212, 1.0);
}
a:hover {
  color: rgba(130, 190, 232, 1.0);
  text-decoration: underline;
}
blockquote {
  text-align: left;
  font-weight: normal;
  font-family: Quicksand;
}
body {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-family: Open Sans;
}
.text-nq5w8 {
  color: rgba(156, 156, 156, 1.0);
  font-size: 12px;
  margin-top: 70px;
  margin-bottom: 30px;
}
h1 {
  font-size: 34px;
  font-style: normal;
  margin-top: 5px;
  font-weight: normal;
  margin-bottom: 30px;
}
h2 {
  font-size: 28px;
  border-top: none;
  font-style: normal;
  margin-top: 20px;
  font-weight: normal;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 10px;
}
h3 {
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
}
h4 {
  font-size: 20px;
  font-style: normal;
  margin-top: 20px;
  font-weight: normal;
}
h5 {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}
h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}
p {
  color: #000;
  font-style: normal;
  font-weight: normal;
}
pre {
  font-size: 14px;
  background: #f7f7f7;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@font-face {
  font-family: Quicksand;
  src: url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pgHYoSA.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Quicksand;
  src: url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_RLA.ttf);
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: Quicksand;
  src: url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_p2HcoSA.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Quicksand;
  src: url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pkHEoSA.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgWxP.ttf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrIzc.ttf);
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5vAw.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjARc9.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Me5Q.ttf);
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu52xP.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9vAw.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ABc9.ttf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlvAw.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBhc9.ttf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtvAw.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBBc9.ttf);
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN_r8-VeJoCqeDjg.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/memnYaGs126MiZpBA-UFUKWyV-hsKKKTjrPW.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-U1UpcaXcl0Aw.ttf);
  font-style: regular;
  font-weight: 400;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem6YaGs126MiZpBA-UFUJ0ef8xkA76a.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirk-VeJoCqeDjg.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/memnYaGs126MiZpBA-UFUKXGUehsKKKTjrPW.ttf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rg-VeJoCqeDjg.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/memnYaGs126MiZpBA-UFUKWiUOhsKKKTjrPW.ttf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN8rs-VeJoCqeDjg.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Open Sans;
  src: url(https://fonts.gstatic.com/s/opensans/v16/memnYaGs126MiZpBA-UFUKW-U-hsKKKTjrPW.ttf);
  font-style: italic;
  font-weight: 800;
}
.button {
  color: #000;
  background: rgba(255, 255, 255, 1.0);
  font-style: normal;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-top: none;
  margin-top: 10px;
  padding-top: 9px;
  margin-left: 10px;
  border-left: none;
  font-weight: normal;
  border-right: none;
  padding-left: 30px;
  margin-right: 10px;
  padding-right: 30px;
  margin-bottom: 10px;
  border-bottom: none;
  padding-bottom: 9px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button:hover {
  color: #000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.button.button-primary {
  background: rgba(254, 213, 61, 1.0);
  font-style: normal;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-top: none;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: normal;
  border-left: none;
  padding-top: 9px;
  border-right: none;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 10px;
  border-bottom: none;
  padding-bottom: 9px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button.button-primary:hover {
  color: #000;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
.card {
  border-top: none;
  text-align: center;
  margin-top: 30px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  border-left: none;
  margin-left: 30px;
  padding-left: 30px;
  border-right: none;
  margin-right: 30px;
  padding-right: 30px;
  border-bottom: none;
  margin-bottom: 30px;
  padding-bottom: 50px;
}
.card.card-4khnz {
  border-top: none;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
  border-left: none;
  padding-top: 10px;
  border-right: none;
  padding-left: 10px;
  border-bottom: none;
  padding-right: 10px;
  padding-bottom: 10px;
}
.card.card-tifqy {
  border-top: none;
  box-shadow: none;
  text-align: left;
  border-left: none;
  padding-top: 20px;
  border-right: none;
  padding-left: 20px;
  border-bottom: none;
  padding-right: 20px;
  padding-bottom: 20px;
}
.card.card-sf67m {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
}
.card.card-4nzul {
  text-align: left;
}
.form-control {
  border-top: none;
  margin-top: 5px;
  font-style: normal;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
  font-weight: normal;
  padding-top: 10px;
  border-left: none;
  border-right: none;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: none;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.navbar {
  font-style: normal;
  font-weight: normal;
}
.navbar .nav-link {
  color: rgba(0, 122, 212, 1.0);
  font-style: normal;
  font-weight: normal;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.navbar.navbar-atuuc {
  color: #000;
}
.navbar.navbar-3rpsq .nav-link {
  color: #fff;
  background: rgba(0, 122, 212, 1.0);
  padding-top: 5px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbar.navbar-3rpsq .nav-link.nav-link-active {
  color: #fff;
  font-weight: bold;
}
.navbar.navbar-atuuc .nav-link {
  color: #fff;
}
.navbar .nav-link:hover {
  color: #fff;
  font-style: normal;
  background: rgba(0, 122, 212, 1.0);
  font-weight: normal;
  text-transform: uppercase;
}
.picture.picture-om81e {
  margin-bottom: 30px;
}
.picture.picture-6l8si {
  margin-top: 30px;
  margin-bottom: 50px;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.colors-bqr2r {
  color: rgba(254, 213, 61, 1.0);
}
.colors-default {
  color: #000;
}
.colors-gpcrr {
  color: rgba(167, 51, 51, 0.0);
}
.colors-default-bg {
  color: rgba(255, 255, 255, 1.0);
}
.colors-primary-text {
  color: #fff;
}
.colors-s7-kl-y {
  color: rgba(0, 122, 212, 1.0);
}
.colors-vs-u56 {
  color: rgba(130, 190, 232, 1.0);
}
.colors-o6n-zg {
  color: rgba(0, 50, 86, 1.0);
}
.colors-vbrll {
  color: rgba(4, 2, 2, 1.0);
}
.colors-links {
  color: rgba(0, 122, 212, 1.0);
}
.colors-r5a87 {
  color: rgba(130, 190, 232, 1.0);
}
.colors-h6-i5d {
  color: rgba(156, 156, 156, 1.0);
}
.colors-formatted-bg {
  color: #f7f7f7;
}
@media (min-width: 576px) {
  .text-sm-align-center {
    text-align: center;
  }
  .text-sm-align-left {
    text-align: left;
  }
  .text-sm-align-right {
    text-align: right;
  }
  .text-sm-justify {
    text-align: justify;
  }
}
@media (min-width: 768px) {
  .text-md-align-center {
    text-align: center;
  }
  .text-md-align-left {
    text-align: left;
  }
  .text-md-align-right {
    text-align: right;
  }
  .text-md-justify {
    text-align: justify;
  }
}
@media (min-width: 992px) {
  .text-lg-align-center {
    text-align: center;
  }
  .text-lg-align-left {
    text-align: left;
  }
  .text-lg-align-right {
    text-align: right;
  }
  .text-lg-justify {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  .text-xl-align-center {
    text-align: center;
  }
  .text-xl-align-left {
    text-align: left;
  }
  .text-xl-align-right {
    text-align: right;
  }
  .text-xl-justify {
    text-align: justify;
  }
}